<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <form action="/members/update" method="post">
        <div class="form-group">
            <label for="id">목표 id</label>
            <input type="text" id="id" name="id" placeholder="id를 입력하세요">
            <label for="name">새 이름</label>
            <input type="text" id="name" name="name" placeholder="이름을 입력하세요">
        </div>
        <button type="submit">등록</button>
    </form>
</div> <!-- /container -->
</body>
</html>